*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.button {
  width: 80px;
  height: 25px;
  border: none;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.button:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 1px 1px 20px #9e9d9d;
          box-shadow: 1px 1px 20px #9e9d9d;
}

.button__header {
  width: 110px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.button__header:hover {
  background-color: #061e37;
}

.button__promo {
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 8px #11bda8;
          box-shadow: 1px 2px 8px #11bda8;
}

.button__promo_buy {
  text-transform: uppercase;
  background-color: #061e37;
  color: #fff;
  margin-right: 27px;
}

.button__promo_try {
  text-transform: uppercase;
  color: #061e37;
  background-color: #fff;
  margin-right: 27px;
}

.button__promo_video {
  display: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #061e37;
  margin-right: 27px;
}

.button__services {
  display: block;
  margin: 0 auto;
  background-color: #1de9b6;
  width: 150px;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 4px #67dacc;
          box-shadow: 1px 2px 4px #67dacc;
}

.button__about {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #061e37;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.button__contact {
  width: 135px;
  height: 50px;
  background-color: #1de9b6;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}

.button__modal {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  background-color: #1de9b6;
  color: white;
  margin: 0 auto 10px;
}

.button__modal-buy,
.button__modal-try {
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  background-color: #1de9b6;
}

.promo {
  min-height: 750px;
  background: url("../img/main_bg.png") center center/cover no-repeat;
  padding: 45px 0 0 0;
}

.promo .hamburger {
  display: none;
}

.promo__youtube {
  display: none;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__header {
  color: #fff;
  font-weight: 800;
  font-size: 5.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
}

.promo__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__text {
  color: #fff;
  font-size: 1.8rem;
  width: 600px;
  line-height: 1.7;
  margin-bottom: 37px;
}

.promo__movie {
  width: 600px;
  height: 320px;
  background: url("../img/video_bg.png") center center/cover no-repeat;
  position: relative;
}

.promo__movie-button {
  width: 70px;
  height: 65px;
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% - 35px);
  cursor: pointer;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.promo__movie-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.promo__movie-button img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo__movie-descr {
  font-size: 1.4rem;
  font-weight: 700;
  color: #061e37;
  text-transform: uppercase;
  position: absolute;
  top: calc(50% + 32.5px);
  left: calc(50% - 60px);
}

.header {
  min-height: 45px;
  margin-bottom: 120px;
}

.header__exit {
  display: none;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.header__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__text {
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
}

.header__text span {
  font-weight: 700;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.header__menu li {
  margin-right: 45px;
}

.header__link {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.header__link_active {
  color: #061e37;
}

.header__link:hover {
  text-decoration: none;
  color: #061e37;
}

.services {
  min-height: 800px;
  padding: 95px 0;
}

.services__header {
  color: #b0bec5;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 13px;
}

.services__wrapper {
  margin: 70px 0px 65px;
  display: grid;
  grid-template: minmax(220px, 1fr)/repeat(3, 350px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 25px auto;
}

.services__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.services__title {
  font-size: 2rem;
  color: #061e37;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.services__descr {
  font-size: 1.5rem;
  text-align: center;
  color: #78909c;
  font-weight: 400;
}

.statistic {
  margin: 0 auto;
}

.statistic__wrapper {
  display: grid;
  grid-template: minmax(150px, 1fr)/repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistic__item:nth-child(1) {
  background-color: #80d8ff;
}

.statistic__item:nth-child(2) {
  background-color: #82b1ff;
}

.statistic__item:nth-child(3) {
  background-color: #b388ff;
}

.statistic__item:nth-child(4) {
  background-color: #ea80fc;
}

.statistic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic__img {
  width: 70px;
  height: 60px;
  margin-right: 10px;
}

.statistic__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.statistic__text {
  font-weight: 800;
  color: white;
  font-size: 2rem;
  text-align: left;
  line-height: 1.25;
}

.favor {
  min-height: 870px;
  padding: 100px 0px 88px 0px;
}

.favor__element {
  width: 800px;
  margin: 40px auto 0px;
}

.favor__element-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 3px 33px -2px rgba(4, 4, 4, 0.2);
          box-shadow: 2px 3px 33px -2px rgba(4, 4, 4, 0.2);
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  height: 50px;
  -webkit-transition: 0.5s all !important;
  -o-transition: 0.5s all !important;
  transition: 0.5s all !important;
}

.favor__element-item_active {
  -webkit-transition: 0.5s all !important;
  -o-transition: 0.5s all !important;
  transition: 0.5s all !important;
  min-height: 250px;
}

.favor__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  height: 50px;
  padding: 15px;
}

.favor__logo {
  width: 20px;
  height: 14px;
  margin-right: 25px;
}

.favor__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.favor__text {
  font-size: 1.5rem;
  color: #061e37;
  text-transform: uppercase;
  font-weight: 700;
}

.favor__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 165px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 15px;
}

.favor__bottom-img {
  width: 250px;
  height: 150px;
  margin-right: 25px;
}

.favor__bottom-img img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.favor__bottom-descr {
  color: #061e37;
  font-weight: 400;
  font-size: 1.5rem;
}

i {
  position: absolute;
  right: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.about {
  min-height: 565px;
  background: url("../img/other_bg.png") center center/cover no-repeat;
  padding: 84px 0px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text {
  color: white;
  width: 550px;
}

.about__header {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 15px;
}

.about__descr {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 60px;
}

.about__carousel-wrapper {
  width: 750px;
}

.about__carousel-data {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.about__carousel-data__text {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}

.about__carousel-data__logo {
  width: 75px;
  height: 75px;
  margin-right: 40px;
}

.about__carousel-data__logo img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__carousel-data__header {
  font-weight: 700;
  color: #061e37;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.about__carousel-data__descr {
  font-weight: 400;
  font-size: 1.5rem;
  color: #78909c;
  font-style: italic;
}

.about .slick-prev {
  font-size: 0;
  border: none;
  background: url("../img/arrowUp.png") center center/cover no-repeat;
  width: 25px;
  height: 15px;
  position: absolute;
  top: -35px;
  left: 50%;
  z-index: 5;
}

.about .slick-next {
  font-size: 0;
  border: none;
  background: url("../img/arrowDown.png") center center/cover no-repeat;
  width: 25px;
  height: 15px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  z-index: 5;
}

.about .slick-list {
  position: relative;
}

.team {
  min-height: 750px;
  padding: 100px 0 60px;
}

.team__descr {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: #b0bec5;
  font-size: 1.5rem;
  margin-bottom: 60px;
}

.team__carousel {
  margin: 0 auto;
  width: 900px;
  max-height: 450px;
  margin-bottom: 35px;
  position: relative;
}

.team__carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 5px;
}

.team__carousel-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
}

.team__carousel-img img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__carousel-header {
  font-size: 1.8rem;
  color: #061e37;
  font-weight: 700;
  margin-bottom: 10px;
}

.team__carousel-descr {
  font-weight: 400;
  color: #90a4ae;
  font-size: 1.5rem;
}

.team .slick-current {
  -webkit-filter: blur(0) !important;
          filter: blur(0) !important;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.team .slick-track .slick-active {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.team .slick-dots {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -20px;
  left: 43%;
  padding: 0;
}

.team .slick-track {
  max-height: 450px;
}

.team .slick-list {
  max-height: 450px;
}

.team li[role=presentation] {
  font-size: 0;
}

.team li[role=presentation] button {
  background: transparent;
  border: 1px solid black;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}

.team li.slick-active button {
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  background-color: #061e37;
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__link {
  width: 15px;
  height: 15px;
  margin-right: 30px;
}

.team__link img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  min-height: 660px;
  padding: 50px 0 90px;
}

.contact__subheader {
  margin-bottom: 40px !important;
}

.contact__form {
  width: 600px;
  margin: 0 auto;
}

.contact .form__header,
.contact .form__subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.contact .form__header input,
.contact .form__subheader input {
  width: 280px;
  height: 50px;
  padding: 20px;
  border: 1px solid #061e37;
  border-radius: 4px;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.contact .form__header input:focus,
.contact .form__subheader input:focus {
  border: 2px solid #061e37;
}

.contact .form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .form__footer input[type=checkbox] {
  border: 2px solid #061e37;
}

.contact .form__footer span {
  color: #061e37;
  font-size: 1.5rem;
  font-weight: 600;
}

.contact__textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  border: 1px solid #061e37;
  border-radius: 4px;
}

.contact ::-webkit-input-placeholder {
  font-weight: 400;
  color: #061e37;
  font-size: 1.5rem;
}

.footer {
  min-height: 300px;
  background-color: #061e37;
  padding: 91px 0;
}

.footer__text-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.footer__logo img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__text {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1;
}

.footer__text span {
  font-weight: 700;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.footer__menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  margin-left: 50px;
}

.footer__menu-link:first-child {
  margin-left: 0;
}

.footer__menu-link:hover {
  color: white;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-link {
  position: relative;
  text-decoration: none;
  color: #9da2a8;
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 45px;
}

.footer__bottom-link:hover {
  color: #9da2a8;
}

.footer__bottom-link:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -37px;
  top: 8px;
}

.footer__bottom-link:last-child:after {
  display: none;
}

.footer__bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-social__link {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

.footer__bottom-social__link:last-child {
  margin-right: 0;
}

.footer__bottom-social__link img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.modal_active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__login {
  display: none;
  min-height: 150px;
  width: 300px;
  border: 1px solid #1de9b6;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: visible;
  position: relative;
}

.modal__login-exit {
  position: absolute;
  top: -36px;
  right: -30px;
  font-size: 5.5rem;
  color: #fff;
  cursor: pointer;
}

.modal__login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.modal__login-header__log,
.modal__login-header__reg {
  width: 50%;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.modal__login-header__log {
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #1de9b6;
}

.modal__login-header__reg {
  cursor: pointer;
  background-color: #7c7c7c;
}

.modal__login-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__login-content .wrapper input {
  margin: 10px auto;
  width: 70%;
  height: 35px;
  outline: none;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7c7c7c;
  border: 1px solid #1de9b6;
}

.modal__login-content .wrapper input:focus {
  border: 2px solid #1de9b6;
}

.modal__reg {
  display: none;
  min-height: 150px;
  width: 300px;
  border: 1px solid #1de9b6;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: visible;
}

.modal__reg-exit {
  position: absolute;
  top: -36px;
  right: -30px;
  font-size: 5.5rem;
  color: #fff;
  cursor: pointer;
}

.modal__reg-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.modal__reg-header__log,
.modal__reg-header__reg {
  width: 50%;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.modal__reg-header__log {
  background-color: #7c7c7c;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

.modal__reg-header__reg {
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #1de9b6;
}

.modal__reg-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__reg-content .wrapper input {
  margin: 10px auto;
  width: 70%;
  height: 35px;
  outline: none;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7c7c7c;
  border: 1px solid #1de9b6;
}

.modal__reg-content .wrapper input:focus {
  border: 2px solid #1de9b6;
}

.modal__video {
  display: none;
  width: 650px;
  height: 90vh;
  position: relative;
  overflow: visible;
}

.modal__video-exit {
  position: absolute;
  top: -36px;
  right: -30px;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
}

.modal__buy {
  display: none;
  min-height: 150px;
  width: 300px;
  border: 1px solid #1de9b6;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  position: relative;
}

.modal__buy-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 10px;
}

.modal__buy-header__price {
  font-size: 2.5rem;
}

.modal__buy-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__buy-form input {
  width: 100%;
  outline: none;
  font-weight: 700;
  height: 30px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.modal__buy-exit {
  position: absolute;
  top: -28px;
  right: 1px;
  font-size: 5.5rem;
  color: #fff;
  cursor: pointer;
}

.modal__try {
  display: none;
  min-height: 150px;
  width: 300px;
  border: 1px solid #1de9b6;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  position: relative;
}

.modal__try-header {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 10px;
}

.modal__try-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__try-form input {
  width: 100%;
  height: 30px;
  padding: 10px;
  outline: none;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.modal__try-form input:focus {
  border: 1px solid #1de9b6;
}

.modal__try-exit {
  position: absolute;
  top: -35px;
  right: -30px;
  font-size: 5.5rem;
  color: #fff;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Raleway, sans-serif;
  overflow-x: hidden !important;
  position: relative;
}

.container {
  width: 1440px;
}

.title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 10px;
}

.subheaderR {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: #b0bec5;
  width: 560px;
  margin: 0 auto;
}

.arrowUp {
  display: none;
  position: fixed;
  z-index: 4;
  bottom: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
}

.arrowUp img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

@media (max-width: 1400px) {
  .promo__descr,
  .promo__video,
  .promo__youtube {
    width: auto;
  }

  .promo__movie,
  .promo__youtube {
    width: 450px;
  }

  .statistic__wrapper {
    grid-template: minmax(150px, 1fr)/repeat(4, 1fr);
  }
}

@media (max-width: 1199px) {
  .header {
    margin-bottom: 70px;
  }

  .promo__header {
    font-size: 5rem;
  }

  .promo__descr,
  .promo__text {
    width: 400px;
    margin-right: 15px;
  }

  .services__wrapper {
    grid-template: minmax(220px, 1fr)/repeat(3, 300px);
  }

  .statistic__wrapper {
    grid-template: minmax(150px, 1fr)/repeat(4, 1fr);
  }

  .statistic__text {
    font-size: 1.85rem;
  }

  .about__header {
    font-size: 3rem;
  }

  .about__text {
    margin-right: 20px;
    width: 300px;
  }

  .about__descr {
    font-size: 1.6rem;
  }

  .about__carousel-wrapper {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .button__promo_video {
    display: inline-block;
  }

  .header__menu li {
    margin-right: 20px;
  }

  .promo__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .promo__video {
    display: none;
  }

  .promo__descr,
  .promo__text {
    width: auto;
  }

  .services__wrapper {
    grid-template: minmax(220px, 1fr)/repeat(3, 240px);
  }

  .services__title {
    margin-bottom: 3px;
  }

  .services__descr {
    width: 200px;
    margin: 0 auto;
  }

  .statistic__wrapper {
    grid-template: minmax(150px, 1fr)/repeat(4, 1fr);
  }

  .statistic__img {
    margin-right: 5px;
    width: 47px;
    height: 45px;
  }

  .statistic__text {
    font-size: 1.75rem;
  }

  .favor__element {
    width: auto;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__header br {
    display: none;
  }

  .about__header {
    font-size: 3.4rem;
  }

  .about__text {
    width: auto;
  }

  .about__descr {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .about .button__about {
    margin-bottom: 15px;
  }

  .team__carousel {
    width: auto;
  }

  .team__carousel-descr {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    cursor: pointer;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
  }

  .header_active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    padding-left: 10px;
    background-color: black;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 5px;
  }

  .header__text {
    font-size: 2rem;
  }

  .header__link {
    font-size: 2.1rem;
  }

  .header__link_active {
    color: #fff;
  }

  .header__exit {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 11rem;
    top: 33px;
    right: 9px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
  }

  .header__exit:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .header .button__header {
    width: 130px;
    height: 30px;
    font-size: 1.6rem;
  }

  .promo {
    position: relative;
    min-height: 450px;
  }

  .promo .hamburger {
    position: fixed;
    top: 15px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 4;
    width: 60px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    border: 3px solid white;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
  }

  .promo .hamburger_bMain {
    border: 3px solid #061e37;
  }

  .promo .hamburger:hover {
    border-radius: 50%;
  }

  .promo .hamburger:hover .hamburger__item {
    width: 70%;
  }

  .promo .hamburger__item {
    background-color: #fff;
    margin-bottom: 5px;
    width: 100%;
    height: 3px;
    border-radius: 14px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
  }

  .promo .hamburger__item_active {
    background-color: #061e37;
  }

  .promo .hamburger__item:last-child {
    margin-bottom: 0;
  }

  .promo .button__promo {
    margin-right: 5px;
  }

  .services__subheader {
    width: auto;
  }

  .services__wrapper {
    grid-template: repeat(3, minmax(150px, 1fr))/1fr;
  }

  .services__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services__item-text__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .services__item-img__wrapper {
    margin-right: 15px;
  }

  .services__descr {
    width: auto;
    text-align: left;
  }

  .statistic__wrapper {
    grid-template: repeat(2, minmax(150px, 1fr))/repeat(2, 1fr);
  }

  .statistic__text {
    font-size: 2rem;
  }

  .favor {
    min-height: 750px;
  }

  .favor__bottom-img {
    width: 200px;
    height: 90px;
  }

  .favor__subheader {
    width: auto !important;
  }

  .about__carousel-wrapper {
    width: 540px;
  }

  .about__carousel-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 3px;
  }

  .about__carousel-data__logo {
    margin: 0px 9px;
  }

  .team .slick-dots {
    left: 40%;
  }

  .contact__form,
  .contact__subheader {
    width: auto;
  }

  .contact__subheader br {
    display: none;
  }

  .contact .form__header input,
  .contact .form__subheader input {
    width: 230px;
  }

  .footer__menu-link {
    margin-left: 10px;
  }

  .modal__video {
    width: 80%;
    height: 70%;
  }
}

@media (max-width: 575px) {
  .container {
    width: auto;
  }

  .promo__header {
    font-size: 4rem;
  }

  .promo .button__promo {
    display: block;
    margin: 0px 0px 5px;
  }

  .services__item-img__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }

  .services__icon {
    width: 47px;
    height: 66px;
    margin: 0;
  }

  .statistic__text {
    font-size: 1.8rem;
  }

  .statistic__img {
    width: 34px;
  }

  .favor__bottom-img {
    display: none;
  }

  .favor__bottom-descr {
    margin-top: 10px;
  }

  .favor__bottom {
    overflow: hidden;
  }

  .favor__top {
    padding: 0;
    margin: 15px;
  }

  .about__carousel-wrapper {
    width: 300px;
  }

  .team__carousel-descr {
    width: 300px;
  }

  .contact .form__header,
  .contact .form__subheader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }

  .contact .form__header input,
  .contact .form__subheader input {
    margin-bottom: 5px;
    width: 100%;
  }

  .contact .form__footer .button__contact {
    width: 76px;
    font-size: 1.5rem;
  }

  .contact .form__footer span {
    font-size: 1.4rem;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__text {
    font-size: 2.3rem;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__menu a {
    margin: 0;
    font-size: 2.4rem;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__bottom-link:after {
    right: -15px;
  }

  .footer__bottom-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }

  .footer__bottom-text a {
    margin-right: 25px;
  }

  .modal__video {
    width: 80%;
    height: 50%;
  }
}
@supports (-webkit-appearance:none){
.promo{background:url("../img/main_bg.webp") center center/cover no-repeat}
.promo__movie{background:url("../img/video_bg.webp") center center/cover no-repeat}
.about{background:url("../img/other_bg.webp") center center/cover no-repeat}
.about .slick-prev{background:url("../img/arrowUp.webp") center center/cover no-repeat}
.about .slick-next{background:url("../img/arrowDown.webp") center center/cover no-repeat}
}

 @media (max-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 575px){

@supports (-webkit-appearance:none){

}

}
